<%= render 'header' %>
<div id="popwrapper">
  <% [1, 0, 2].each do |place| %>
      <% mastery = @masteries[place] %>
      <div id="champ<%= (place + 1) %>" class="first3champs">
        <%= image_tag riot_champion_icon_id(mastery.champion) %><br/>
        <%= link_to_champion(mastery.champion, 'bold') %><br/>
        <span class="hover" data-hover-text="Collected Points"><%= short_number mastery.sumpoints %><br/></span>
        <span class="hover" data-hover-text="Average Level"><%= mastery.avglvl.round(2) %><br/></span>
      </div>
  <% end %>
</div>
<div id="tablewrapper">
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Champion</th>
      <th class="hover" data-hover-text="Mastery points collected by all recorded summoners">Collected Points</th>
      <th class="hover" data-hover-text="Average mastery points for a summoner">Average Points</th>
      <th class="hover" data-hover-text="Maximum mastery points collected by a summoner">Maximum Points</th>
      <th class="hover" data-hover-text="All champion levels collected by all recorded summoners">Collected Levels</th>
      <th class="hover" data-hover-text="Average champion level for a summoner">Average Level</th>
    </tr>
    </thead>
    <tbody>
    <% @masteries.each_with_index do |mastery, index| %>
        <tr>
          <td><%= index %></td>
          <td><%= link_to_champion(mastery.champion) %></td>
          <td><%= short_number mastery.sumpoints %></td>
          <td><%= short_number mastery.avgpoints %></td>
          <td><%= short_number mastery.maxpoints %></td>
          <td><%= short_number mastery.sumlvl %></td>
          <td><%= mastery.avglvl.round(2) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>